<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Productos BS5</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablabs5.css') }}">
</head>

<body>
    <div class="responsive">
        <h1>Hola Pablo</h1>
        <h2>Lista de Productos</h2>
        <!--<ul>
            {% for producto in jsonresult.json %}
            <li>ID: {{ producto['id'] }}, Nombre: {{ producto['descripcion'] }}</li>
            {% endfor %}
        </ul>-->
    </div>
    <div class="container">
        <br>
        <a href="{{ url_for('productoNuevo') }}" class="btn btn-primary">NUEVO</a> <button type="button" class="btn btn-danger">LOGOUT</button>
        <br>
        <br>
        <div class="table-responsive" id="app">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">P Unitario</th>
                        <th scope="col">P Publico</th>
                        <th scope="col">Administracion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in jsonresult.json %}
                    <tr class="">
                        <td>{{producto['id'] }}</td>
                        <td>{{producto['categoria']}}</td>
                        <td class="codigo">{{producto['codigo']}}</td>
                        <td>{{producto['descripcion']}}</td>
                        <td class="cantidad">{{producto['cantidad']}} </td>
                        <td class="precio">$ {{producto['precioUnit']}}</td>
                        <td class="precio">$ {{producto['precioVPublico']}}</td>
                        <td>
                            <a href="{{ url_for('productoEdicion') }}" class="btn btn-primary">EDITAR</a> <button type="button" class="btn btn-danger" v-on:click="eliminar({{producto['id'] }})">ELIMINAR</button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="{{ url_for('static', filename='js/productos.js') }}"></script>
    </div>

</body>

</html>